#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b5f4fb;
  background-size: cover;
  background-position: center;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #282c34;
  z-index: 1000;
}
nav a{
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
nav a:hover{
  color: #61dafb;
}
main {
  padding: 2rem;
  background-color: #f4f4f4;
}
